<!-- Panel -->
<section class="panel color4-alt">
    <div class="inner columns divided">
        <div class="span-1-5">
            <ul class="contact-icons color1">
                <li class="icon brands fa-discord"><a href="https://discord.gg/DxXk7kACCh">Sulfuric Studios</a></li>
                <li class="icon brands fa-instagram"><a href="https://www.instagram.com/sulfuricstudios/">@sulfuricstudios</a></li>
                <!-- <li class="icon brands fa-snapchat-ghost"><a href="#">@untitled-tld</a></li> -->
                <li class="icon brands fa-twitter"><a href="https://twitter.com/sulfuricstudios">@sulfuricstudios</a></li>
                <li class="icon brands fa-medium-m"><a href="https://medium.com/@sulfuricstudios">sulfuricstudios</a></li>
            </ul>
        </div>
    </div>
</section>