<!DOCTYPE html>
<html>
  <head>
    <title>Sulfuric Studios</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />
  </head>
  <body class="is-preload">
    <div id="page-wrapper">
      <div id="wrapper">
        <section class="panel banner right">
          <div class="content color0 span-3-75">
            <h1 class="major">
              Hello, <br />we are<br />
              Sulfuric
            </h1>
            <p>
              We are a
              <strong
                >Record Label & Game / Web Design & Development Firm</strong
              >, based in Sydney, Australia. We are currently trying to build
              our repetoire. Our lead developer, Jay, is designing and building
              a few games. And our key artists,
              <a href="./sunflowersulfur/index.html"
                ><strong>Sunflower Sulfur</strong></a
              >, & <a href="./fuzz/index.html"><strong>Fuzz</strong></a> are
              currently working on their first EPs & Albums.
            </p>
          </div>
          <div class="image filtered span-1-75" data-position="100% 100%">
            <img src="images/greenlogo.png" alt="" />
          </div>
        </section>

        <section class="panel spotlight medium left" id="first">
          <div class="content span-7">
            <h2 class="major">Sulfuric Studio</h2>
            <p>
              Our Record Label Branch, Sulfuric Studio, which has multiple
              artists writing and releasing music.
            </p>
            <ul class="actions">
              <li>
                <a
                  href="./label"
                  class="button primary color1 circle icon solid fa-angle-right"
                  >Next</a
                >
              </li>
            </ul>
          </div>
          <div class="image filtered tinted" data-position="top left">
            <img src="images/labelbg.png" alt="" />
          </div>
        </section>

        <section class="panel spotlight medium left">
          <div class="content span-7">
            <h2 class="major">Sulfuric Design</h2>
            <p>
              Our Software Development and Design Branch, Sulfuric Design,
              currently building multiple videogames.
            </p>
            <ul class="actions">
              <li>
                <a
                  href="./dev"
                  class="button primary color1 circle icon solid fa-angle-right"
                  >Next</a
                >
              </li>
            </ul>
          </div>
          <div class="image filtered tinted" data-position="top right">
            <img src="images/devbg.png" alt="" />
          </div>
        </section>

        <section class="panel spotlight medium left" id="first">
          <div class="content span-7">
            <h2 class="major">Shop</h2>
            <p>Buy merch from our signed artists and tickets for our shows.</p>
            <ul class="actions">
              <li>
                <a
                  href="./shop"
                  class="button primary color1 circle icon solid fa-angle-right"
                  >Next</a
                >
              </li>
            </ul>
          </div>
          <div class="image filtered tinted" data-position="top left">
            <img src="images/pic07.png" alt="" />
          </div>
        </section>

        <!-- Panel -->
        <section class="panel color4-alt">
          <div class="inner columns divided">
            <div class="span-1-5">
              <ul class="contact-icons color1">
                <li class="icon brands fa-discord">
                  <a href="https://discord.gg/DxXk7kACCh">Sulfuric Studios</a>
                </li>
                <li class="icon brands fa-instagram">
                  <a href="https://www.instagram.com/sulfuricstudios/"
                    >@sulfuricstudios</a
                  >
                </li>
                <!-- <li class="icon brands fa-snapchat-ghost"><a href="#">@untitled-tld</a></li> -->
                <li class="icon brands fa-twitter">
                  <a href="https://twitter.com/sulfuricstudios"
                    >@sulfuricstudios</a
                  >
                </li>
                <li class="icon brands fa-medium-m">
                  <a href="https://medium.com/@sulfuricstudios"
                    >sulfuricstudios</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
