<!DOCTYPE html>
<html>
  <head>
    <title>Sulfuric Studios</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="assets/css/noscript.css"
    /></noscript>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />
  </head>
  <body class="is-preload">
    <div id="page-wrapper">
      <div id="wrapper">
        <section class="panel banner right">
          <div class="content color0 span-3-75">
            <h1 class="major">
              Hello, we are<br />
              Sulfuric Studio
            </h1>
            <p>
              We are the <strong>Record Label Branch of Sulfuric</strong>, based
              in Sydney, Australia. We are currently trying to build our artist
              repetoire. Our first two artists,
              <a href="./sunflowersulfur/index.html"
                ><strong>Sunflower Sulfur</strong></a
              >, & <a href="./fuzz/index.html"><strong>Fuzz</strong></a> are
              currently working on their EPs & Albums.
            </p>
            <ul class="actions">
              <li>
                <a
                  href="/"
                  class="button primary color1 circle icon solid fa-angle-left"
                  >Back</a
                >
              </li>
            </ul>
          </div>
          <div class="image filtered span-1-75" data-position="100% 100%">
            <img src="images/bluelogo.png" alt="" />
          </div>
        </section>

        <section class="panel spotlight medium left" id="first">
          <div class="content span-7">
            <h2 class="major">Sunflower Sulfur</h2>
            <p>
              Our first signed artist. Composed of Jay, Alex, Gabe, Moss & Nina,
              they were signed for their brilliant young talent and incredible
              speed when writing songs.
              <a href="https://sunflowersulfur.studio/">Find them here.</a>
            </p>
            <ul class="actions">
              <li>
                <a
                  href="./sunsul"
                  class="button primary color1 circle icon solid fa-angle-right"
                  >Next</a
                >
              </li>
            </ul>
          </div>
          <div class="image filtered tinted" data-position="top left">
            <img src="images/pic01.png" alt="" />
          </div>
        </section>

        <section class="panel spotlight medium left">
          <div class="content span-5">
            <h2 class="major">Fuzz</h2>
            <p>
              A random string of text until we get a paragraph about Fuzz put
              together.
            </p>
            <ul class="actions">
              <li>
                <a
                  href="./fuzz"
                  class="button primary color1 circle icon solid fa-angle-right"
                  >Next</a
                >
              </li>
            </ul>
          </div>
          <div class="image filtered tinted" data-position="top right">
            <img src="images/pic02.png" alt="" />
          </div>
        </section>

        <!-- Panel -->
        <section class="panel color4-alt">
          <div class="inner columns divided">
            <div class="span-1-5">
              <ul class="contact-icons color1">
                <li class="icon brands fa-discord">
                  <a href="https://discord.gg/DxXk7kACCh">Sulfuric Studios</a>
                </li>
                <li class="icon brands fa-instagram">
                  <a href="https://www.instagram.com/sulfuricstudios/"
                    >@sulfuricstudios</a
                  >
                </li>
                <!-- <li class="icon brands fa-snapchat-ghost"><a href="#">@untitled-tld</a></li> -->
                <li class="icon brands fa-twitter">
                  <a href="https://twitter.com/sulfuricstudios"
                    >@sulfuricstudios</a
                  >
                </li>
                <li class="icon brands fa-medium-m">
                  <a href="https://medium.com/@sulfuricstudios"
                    >sulfuricstudios</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
