<!DOCTYPE HTML>
<html>
	<head>
		<%- include('../partials/header') %>
	</head>
	<body class="is-preload">
			<div id="page-wrapper">
					<div id="wrapper">
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">Thank you<br />
									for Your Order.</h1>
									<p>If you have any questions, you can contact us at <a href="mailto:orders@sulfuric.studio">orders@sulfuric.studio</a></p>
                                    <form action="/" method="POST">
										<button type="submit">Back</button>
									</form>
                                </div>
							</section>

							<%- include('../partials/contacts') %>	
					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>